@large: ~"only screen and (min-width: 1200px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@tablet:  ~"only screen and (min-width: 768px) and (max-width: 991px)";
@mobile:  ~"only screen and (max-width: 767px)";

@dark_blue: #232F84;
@mid_blue: #0767A7;
@light_brown: #998d81;
@mid_brown: #ece7e1;
@menu_brown: #dcd5cb;
@dark_brown: #998B7D;
@black: #272727;
@grey: #E8E8E8;
@light_grey: #f4f4f4;
@mid_grey: #c4c0bd;
@dark_grey: #606060;
@darker_grey: #272727;
@green: #49b23c;
@dark_green: #4AAA42;
@orange: #F67B00;
@white: #ffffff;

@sprite: "../img/sprite.png";