@font-face {
  font-family: 'metanormallf-romanregular';
  src: url('../fonts/mtnormallfro-webfont.eot');
  src: url('../fonts/mtnormallfro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mtnormallfro-webfont.woff') format('woff'), url('../fonts/mtnormallfro-webfont.ttf') format('truetype'), url('../fonts/mtnormallfro-webfont.svg#metanormallf-romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metaboldlf-romanregular';
  src: url('../fonts/mtboldlfro-webfont.eot');
  src: url('../fonts/mtboldlfro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mtboldlfro-webfont.woff') format('woff'), url('../fonts/mtboldlfro-webfont.ttf') format('truetype'), url('../fonts/mtboldlfro-webfont.svg#metaboldlf-romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metamediumlf-romanregular';
  src: url('../fonts/mtmediumlfro-webfont.eot');
  src: url('../fonts/mtmediumlfro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mtmediumlfro-webfont.woff') format('woff'), url('../fonts/mtmedumlfro-webfont.ttf') format('truetype'), url('../fonts/mtmediumlfro-webfont.svg#metamediumlf-romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* --- EASYDROPDOWN DEFAULT THEME --- */
/* PREFIXED CSS */
.dropdown .selected::after,
.dropdown.scrollable div::after {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
/* WRAPPER */
.dropdown {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dropdown.open {
  z-index: 2;
}
.dropdown:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.dropdown.focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
/* CARAT */
.dropdown .carat {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -4px;
  border: 6px solid transparent;
  border-top: 8px solid #000;
}
.dropdown.open .carat {
  margin-top: -10px;
  border-top: 6px solid transparent;
  border-bottom: 8px solid #000;
}
.dropdown.disabled .carat {
  border-top-color: #999;
}
/* OLD SELECT (HIDDEN) */
.dropdown .old {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.dropdown select {
  position: absolute;
  left: 0px;
  top: 0px;
}
.dropdown.touch .old {
  width: 100%;
  height: 100%;
}
.dropdown.touch select {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* SELECTED FEEDBACK ITEM */.dropdown .selected,
.dropdown li {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #000;
  padding: 9px 12px;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown.disabled .selected {
  color: #999;
}
.dropdown .selected::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  border-radius: 0 2px 2px 0;
  box-shadow: inset -55px 0 25px -20px #ffffff;
}
/* DROP DOWN WRAPPER */
.dropdown div {
  position: absolute;
  height: 0;
  left: -1px;
  right: -1px;
  top: 100%;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  opacity: 0;
}
/* Height is adjusted by JS on open */
.dropdown.open div {
  opacity: 1;
  z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  box-shadow: inset 0 -50px 30px -35px #ffffff;
}
.dropdown.scrollable.bottom div::after {
  opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
}
.dropdown.scrollable.open ul {
  overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li {
  list-style: none;
  padding: 8px 12px;
}
/* .focus class is also added on hover */
.dropdown li.focus {
  background: #d24a67;
  position: relative;
  z-index: 3;
  color: #fff;
}
.dropdown li.active {
  font-weight: 700;
}
body {
  font-family: 'metanormallf-romanregular';
  font-weight: normal;
  font-style: normal;
  background: #f4f4f4;
}
/* controls mobile nav */
#jPanelMenu-menu {
  list-style: none;
  padding: 20px 10px;
  background: #232f84;
}
#jPanelMenu-menu ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  position: relative;
}
#jPanelMenu-menu li {
  padding: 0;
}
#jPanelMenu-menu a {
  padding: 5px;
  display: block;
  color: #ffffff;
}
#jPanelMenu-menu a:hover {
  text-decoration: none;
}
#jPanelMenu-menu > li > ul > li .subnav-header,
#jPanelMenu-menu > li > ul > li p {
  display: none;
}
/* controls top nav area */
header {
  position: relative;
}
header .top-nav-wrapper {
  position: relative;
  z-index: 1000;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  /* controls primary nav layout */

}
header .top-nav-wrapper.showbg {
  background-color: #f4f4f4;
}
header .top-nav-wrapper .primary-nav-trigger {
  color: #232f84;
  font-size: 20px;
  line-height: 40px;
}
header .top-nav-wrapper .logo {
  display: block;
  width: 197px;
  height: 81px;
  background: url("../img/sprite.png") -100px 0;
  text-indent: -9999px;
  margin-bottom: -23px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  header .top-nav-wrapper .logo {
    left: -20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .top-nav-wrapper .logo {
    left: -30px;
  }
}
header .top-nav-wrapper .primary-nav ul {
  position: relative;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
header .top-nav-wrapper .primary-nav a {
  display: block;
  padding: 10px;
  color: #606060;
}
header .top-nav-wrapper .primary-nav a:hover {
  text-decoration: none;
}
header .top-nav-wrapper .primary-nav > ul > li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header .top-nav-wrapper .primary-nav > ul > li {
    font-size: 12px;
  }
  header .top-nav-wrapper .primary-nav > ul > li > a {
    padding: 10px 5px;
  }
}
header .top-nav-wrapper .primary-nav > ul > li > a {
  border-bottom: solid 3px transparent;
  line-height: 20px;
  padding-top: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'metaboldlf-romanregular';
}
header .top-nav-wrapper .primary-nav > ul > li:hover > a {
  color: #232f84;
}
header .top-nav-wrapper .primary-nav > ul > li.current-menu-item > a,
header .top-nav-wrapper .primary-nav > ul > li.current-menu-ancestor > a {
  color: #232f84;
  border-bottom: solid 3px #232f84;
}
header .top-nav-wrapper .primary-nav > ul > li.home > a {
  text-indent: -9999px;
  width: 40px;
  background: url("../img/sprite.png") -60px 0;
}
header .top-nav-wrapper .primary-nav > ul > li > ul {
  display: none;
  position: absolute;
  min-width: 200px;
  background: #ece7e1;
  left: -50%;
  overflow-y: hidden;
  overflow-x: visible;
  border: solid 1px #c4c0bd;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li {
  text-transform: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 11px;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li:hover {
  background: #dcd5cb;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > a {
  color: #272727;
  font-weight: bold;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > div {
  position: absolute;
  overflow: hidden;
  width: 0;
  top: -1px;
  left: 198px;
  background: #dcd5cb;
  border-top: solid 1px #c4c0bd;
  border-bottom: solid 1px #c4c0bd;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > div > div {
  position: relative;
  width: 575px;
  padding-top: 10px;
  border-right: solid 1px #c4c0bd;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header .top-nav-wrapper .primary-nav > ul > li > ul > li > div > div {
    width: 490px;
  }
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > div > div .subnav-header {
  margin-bottom: 20px;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > div > div > ul > li {
  margin-bottom: 10px;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > div > div > ul > li > a {
  padding: 0;
  padding-bottom: 10px;
  font-weight: bold;
}
header .top-nav-wrapper .primary-nav > ul > li > ul > li > div > div > ul > li > ul > li > a {
  padding: 0;
  padding-bottom: 5px;
}
header .header-links {
  position: absolute;
  top: 90px;
  width: 1170px;
  z-index: 53;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header .header-links {
    width: 971px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .header-links {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  header .header-links {
    width: 100%;
  }
}
header .header-links ul {
  float: right;
}
header .header-links ul li {
  position: relative;
  line-height: 0;
}
header .header-links ul li a {
  position: relative;
  font-size: 20px;
  padding: 10px;
  color: #606060;
  z-index: 60;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
header .header-links ul li a .icon {
  background: url("../img/sprite.png");
  width: 40px;
  height: 40px;
  display: block;
}
header .header-links ul li a .icon.icon-search {
  background-position: -663px 0;
}
header .header-links ul li a .icon.icon-log-in {
  background-position: -703px 0;
}
@media only screen and (max-width: 767px) {
  header .header-links ul li a.login-btn {
    display: none;
  }
}
header .header-links ul li .search-form-wrapper,
header .header-links ul li .login-form-wrapper {
  display: none;
  position: absolute;
  z-index: 59;
  top: -50%;
  right: 42px;
  width: 425px;
  padding: 10px;
  padding-right: 40px;
  background: url("../img/sprite.png") 0 -312px;
}
header .header-links ul li .search-form-wrapper {
  bottom: 1px;
}
@media only screen and (max-width: 767px) {
  header .header-links ul li .search-form-wrapper {
    width: 220px;
    bottom: auto;
    top: 1px;
  }
}
header .header-links ul li .login-form-wrapper {
  top: 1px;
}
/* controls slider layout and slider elements */
.slider-wrapper {
  position: relative;
  margin-top: -58px;
}
.slider-wrapper .slider .slide img {
  width: 100%;
}
.slider-wrapper .slider .slide .slide-caption-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 229px;
}
@media only screen and (max-width: 767px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper {
    position: relative;
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper {
    height: auto;
  }
}
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption {
  position: absolute;
  width: 60%;
  left: 40%;
  height: 229px;
  background: url(../img/slider-bg.png) 0 0;
}
@media only screen and (max-width: 767px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption {
    position: relative;
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption {
    position: relative;
    height: auto;
    background: url(../img/slider-bg-tablet.png) 0 0;
  }
}
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption.green {
  background-position: 0 -230px;
}
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption.orange {
  background-position: 0 -460px;
}
@media only screen and (max-width: 767px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption {
    background: #4f6e69;
    width: 100%;
    left: 0;
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption {
    width: 80%;
    left: 20%;
    height: auto;
  }
}
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner {
  padding: 20px 20% 20px 150px;
}
@media only screen and (max-width: 767px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner {
    padding: 20px;
  }
}
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h1,
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h2,
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h3,
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner a,
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner li,
.slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner p {
  color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h1,
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h2,
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h3 {
    margin-top: 0;
    font-weight: bold;
  }
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h1 {
    font-size: 20px;
  }
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h2 {
    font-size: 18px;
  }
  .slider-wrapper .slider .slide .slide-caption-wrapper .slide-caption .slide-caption-inner h3 {
    font-size: 16px;
  }
}
.slider-wrapper .bx-wrapper .bx-controls {
  position: absolute;
  width: 1170px;
  left: 50%;
  margin-left: -575px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-wrapper .bx-wrapper .bx-controls {
    width: 991px;
    margin-left: -475px;
  }
}
.slider-wrapper .bx-wrapper .bx-controls .bx-pager {
  z-index: 100;
  text-align: left;
  bottom: 80px;
}
@media only screen and (max-width: 767px) {
  .slider-wrapper .bx-wrapper .bx-controls .bx-pager {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper .bx-wrapper .bx-controls .bx-pager {
    display: none;
  }
}
.slider-wrapper .slider-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  background: #f4f4f4;
  height: 70px;
  z-index: 52;
}
@media only screen and (max-width: 767px) {
  .slider-wrapper .slider-overlay {
    position: relative;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper .slider-overlay {
    position: relative;
  }
}
/* featured image and breadcrumb */
.featured-img-wrapper {
  position: relative;
}
.featured-img-wrapper .page-caption-wrapper {
  position: absolute;
  left: 0;
  bottom: 80px;
  z-index: 62;
  width: 100%;
  background: url(../img/feat-img-bg.png) no-repeat;
  background-position: -700px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .featured-img-wrapper .page-caption-wrapper {
    background-position-x: -900px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .featured-img-wrapper .page-caption-wrapper {
    background-position-x: -600px;
    bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .featured-img-wrapper .page-caption-wrapper {
    display: none;
  }
}
.featured-img-wrapper .page-caption-wrapper .page-caption {
  padding: 20px;
}
.featured-img-wrapper .page-caption-wrapper .page-caption h1,
.featured-img-wrapper .page-caption-wrapper .page-caption h2,
.featured-img-wrapper .page-caption-wrapper .page-caption h3,
.featured-img-wrapper .page-caption-wrapper .page-caption h4,
.featured-img-wrapper .page-caption-wrapper .page-caption h5,
.featured-img-wrapper .page-caption-wrapper .page-caption p,
.featured-img-wrapper .page-caption-wrapper .page-caption li,
.featured-img-wrapper .page-caption-wrapper .page-caption blockquote {
  color: #ffffff;
  margin-bottom: 10px;
}
.featured-img-wrapper .breadcrumb-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 51px;
  width: 60%;
  background: #f4f4f4;
}
.featured-img-wrapper .breadcrumb-bg:after {
  position: absolute;
  content: "/";
  text-indent: -9999px;
  height: 51px;
  width: 31px;
  right: -31px;
  bottom: 0;
  background: url("../img/sprite.png") -564px 0;
}
.breadcrumb-wrapper {
  margin-top: -50px;
}
.breadcrumb-wrapper .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}
.breadcrumb-wrapper .breadcrumb li + li:before {
  content: "-";
}
.breadcrumb-wrapper .breadcrumb li a {
  color: #B1B1B1;
}
.breadcrumb-wrapper .breadcrumb li.active {
  color: #272727;
}
/* controls content area positioning */
.content {
  position: relative;
  z-index: 53;
}
.content.home {
  margin-top: -123px;
}
.content .home-content-outer {
  background: #f4f4f4;
  padding-bottom: 20px;
}
.content .home-content-outer.lower {
  background: #eae3db;
}
/* controls course carousel on home page */
.course-carousel-outer {
  background: url(../img/bg-default.png);
  background-size: 100%;
  padding: 20px 0;
}
@media only screen and (max-width: 767px) {
  .course-carousel-outer {
    background-size: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .course-carousel-outer {
    background-size: auto;
  }
}
.course-carousel-outer .course-carousel-wrapper h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 40px;
}
.course-carousel-outer .course-carousel-wrapper .course-slide {
  background: #879572;
  padding: 20px;
}
.course-carousel-outer .course-carousel-wrapper .course-slide img {
  width: 30%;
  float: left;
}
.course-carousel-outer .course-carousel-wrapper .course-slide .course-slide-info {
  width: 60%;
  float: right;
  position: relative;
}
.course-carousel-outer .course-carousel-wrapper .course-slide .course-slide-info h4,
.course-carousel-outer .course-carousel-wrapper .course-slide .course-slide-info h3 {
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  font-size: 12px;
}
.course-carousel-outer .course-carousel-wrapper .course-slide .course-slide-info h4 {
  margin-bottom: 20px;
}
.course-carousel-outer .course-carousel-wrapper .course-slide .course-slide-info h3 {
  font-size: 14px;
}
.course-carousel-outer .course-carousel-wrapper .course-slide .course-slide-info span {
  position: absolute;
  right: 0;
  top: 32px;
  color: #ffffff;
}
.video-wrapper h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 36px;
}
/* controls testimonial display on home page */
.testimonial-slider-wrapper {
  margin-top: 28px;
}
.testimonial-slider-wrapper ul li blockquote {
  padding: 0;
  margin: 0;
  margin-top: 0;
  border-left: none;
  font-size: 14px;
  font-style: italic;
  display: block;
  color: #998d81;
}
.testimonial-slider-wrapper ul li blockquote:before {
  content: "\201C";
  font-size: 50px;
  display: block;
  height: 40px;
}
.testimonial-slider-wrapper ul li blockquote:after {
  content: "\201D";
  font-size: 50px;
  display: block;
  bottom: 0;
  height: 50px;
}
.testimonial-slider-wrapper ul li h5 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #998d81;
}
/* tweets slider */
.tweets-wrapper h3 {
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  font-weight: bold;
  position: relative;
  padding-left: 40px;
}
.tweets-wrapper h3:before {
  position: absolute;
  display: block;
  left: 0;
  content: "/";
  text-indent: -9999px;
  width: 25px;
  height: 21px;
  background: url("../img/sprite.png") -3px -72px;
}
.tweets-wrapper .tweets .tweet {
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
}
.tweets-wrapper .tweets .tweet h5,
.tweets-wrapper .tweets .tweet p {
  font-size: 12px;
  margin-bottom: 0;
  color: #272727;
}
.tweets-wrapper .tweets .tweet h5 {
  margin-bottom: 10px;
  font-weight: bold;
}
.tweets-wrapper .tweets .tweet a {
  color: #998d81;
  text-decoration: underline;
}
.tweets-wrapper .tweets .tweet .time {
  color: #998d81;
}
/* controls the featured image placeholder */
.featured-img-wrapper {
  margin-top: -58px;
}
.featured-img-wrapper img {
  width: 100%;
}
/* controls the breadcrumb */
.breadcrumb-wrapper {
  margin-top: -50px;
}
/* controls search box on course category pages */
.course-search-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.course-search-wrapper #course-search-form .glyphicon {
  position: relative;
  font-size: 20px;
  top: 5px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #272727;
}
.course-search-wrapper #course-search-form .course-count {
  display: none;
}
/* controls course category display */
.course-cats-wrapper a {
  color: #272727;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.course-cats-wrapper a:hover {
  text-decoration: none;
}
.course-cats-wrapper .course-cat-wrapper {
  background: #f4f4f4;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #4aaa42;
  height: 63px;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-header img {
  max-width: 50px;
  margin-right: 10px;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-header h3 {
  font-size: 14px;
  padding-top: 15px;
  font-weight: bold;
  height: 30px;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-list .glyphicon {
  float: right;
  font-size: 10px;
  margin-top: 5px;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-list .glyphicon-chevron-up {
  display: none;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-list .active {
  color: #4da83f;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-list .active .glyphicon-chevron-up {
  display: block;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-list .active .glyphicon-chevron-down {
  display: none;
}
.course-cats-wrapper .course-cat-wrapper .course-cat-list .course-list {
  display: none;
}
.course-cats-wrapper .course-cat-wrapper > ul > li {
  margin-bottom: 5px;
}
.course-cats-wrapper .course-cat-wrapper > ul > li > a {
  display: block;
  padding: 10px 0;
}
.course-cats-wrapper .course-cat-wrapper > ul > li > a.match {
  background: #4da83f;
  color: #ffffff;
  padding-left: 10px;
  font-size: 12px;
}
.course-cats-wrapper .course-cat-wrapper > ul > li > ul {
  background: #4da83f;
}
.course-cats-wrapper .course-cat-wrapper > ul > li > ul > li {
  font-size: 12px;
}
.course-cats-wrapper .course-cat-wrapper > ul > li > ul > li > a {
  color: #ffffff;
  display: block;
  padding: 10px;
}
.course-cats-wrapper.empty {
  display: none;
}
/* controls course info slider */
.course-info-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.course-info-wrapper .bx-prev {
  left: -60px;
  top: 40px!important;
}
.course-info-wrapper .bx-next {
  right: -60px;
  top: 40px!important;
}
.course-info-wrapper h1 {
  color: #232f84;
}
.course-info-wrapper .course-info-tabs {
  border-right: solid 1px #c4c0bd;
}
.course-info-wrapper .course-info-tabs li {
  border-bottom: solid 1px #c4c0bd;
  margin-bottom: 0;
}
.course-info-wrapper .course-info-tabs li a {
  display: block;
  padding: 10px 10px 20px 0;
  color: #606060;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.course-info-wrapper .course-info-tabs li a:hover {
  text-decoration: none;
  color: #232f84;
}
.course-info-wrapper .course-info-tabs li.active a {
  border-right: solid 5px #232f84;
  color: #232f84;
  margin-right: -1px;
}
/* controls faq lists */
.faq-cats-wrapper .faq-cat-wrapper h3 {
  border-bottom: solid 1px #cb6e2a;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}
.faq-cats-wrapper .faq-cat-wrapper h3 a {
  color: #272727;
}
.faq-cats-wrapper .faq-cat-wrapper h3 a:hover {
  text-decoration: none;
}
.faq-cats-wrapper .faq-cat-wrapper .faq-cat-list {
  display: none;
}
.faq-cats-wrapper .faq-cat-wrapper .faq-cat-list li {
  margin-bottom: 10px;
}
.faq-cats-wrapper .faq-cat-wrapper .faq-cat-list li a {
  text-decoration: underline;
  color: #272727;
}
/* controls course table shortcode */
.course-table-wrapper hr {
  border-top: none!important;
  border-bottom: solid 1px #c4c0bd;
}
.course-table-wrapper .enrol-link {
  color: #232f84;
}
.course-table-wrapper .enrol-link span {
  font-size: 10px;
}
.course-table-wrapper h4 {
  font-size: 16px;
  font-weight: bold;
  color: #272727;
}
.course-table-wrapper h5 a {
  color: #232f84 !important;
  font-weight: bold;
}
.course-table-wrapper .course-table-row-toggle {
  display: none;
}
.course-table-wrapper .course-table-row-toggle.open {
  display: block;
}
.course-table-wrapper .course-table-toggle {
  position: relative;
  display: inline;
}
.course-table-wrapper .course-table-toggle:after {
  position: absolute;
  display: block;
  content: "/";
  text-indent: -9999px;
  width: 8px;
  height: 6px;
  right: -20px;
  top: 7px;
  background: url("../img/sprite.png");
  background-position: -617px 0;
}
.course-table-wrapper .course-table-toggle.show-less:after {
  background-position-y: -6px;
}
.course-table-wrapper .course-table-toggle .course-table-row-toggle hr {
  border-bottom: solid 1px #f4f4f4 !important;
}
.course-table-wrapper .enrol-now-btn {
  position: relative;
  display: inline;
}
.course-table-wrapper .enrol-now-btn:after {
  position: absolute;
  display: block;
  content: "/";
  text-indent: -9999px;
  width: 6px;
  height: 8px;
  right: -20px;
  top: 6px;
  background: url("../img/sprite.png");
  background-position: -611px 0;
}
/* updown toggle */
.toggle-chevron {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding-right: 8px;
  display: block;
}
.toggle-chevron:after {
  display: block;
  float: right;
  content: "/";
  text-indent: -9999px;
  margin-top: 7px;
  right: 0;
  width: 8px;
  height: 6px;
  background: url("../img/sprite.png") -617px 0;
}
.toggle-chevron.openu:after {
  background-position-y: -6px;
}
/* controls course sidebar */
.course-sidebar {
  background: #ece7e1;
  padding: 20px;
}
.course-sidebar > ul > li {
  margin-bottom: 40px;
}
.course-sidebar > ul > li .btn-default:hover {
  border-bottom: solid 1px #232f84 !important;
}
.course-sidebar > ul > li .btn-default.download-info-btn:hover:after {
  right: 0;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.course-sidebar > ul > li h3,
.course-sidebar > ul > li .gform_title {
  font-size: 14px;
  color: #232f84;
  padding-bottom: 15px;
}
.course-sidebar > ul > li h3.no-chevron,
.course-sidebar > ul > li .gform_title.no-chevron {
  border-bottom: solid 1px #232f84;
}
.course-sidebar > ul > li .glyphicon {
  margin-right: 10px;
}
.course-sidebar > ul > li .gform_wrapper {
  display: none;
}
.course-sidebar > ul > li .gform_wrapper .gfield {
  border-bottom: solid 1px #272727;
  padding-bottom: 20px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course-sidebar > ul > li .gform_wrapper .gfield {
    padding-bottom: 0;
  }
}
.course-sidebar > ul > li .gform_wrapper .gfield.gf-dropdown-trigger span:hover {
  cursor: pointer;
}
.course-sidebar > ul > li .gform_wrapper .gfield.gf-dropdown-trigger ul li:hover {
  cursor: pointer;
}
.course-sidebar > ul > li .gform_wrapper .gfield input {
  background: none;
  border: none;
  font-size: 16px;
  float: right;
  width: 50%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course-sidebar > ul > li .gform_wrapper .gfield input {
    clear: both;
    float: none;
    width: 100%;
  }
}
.course-sidebar > ul > li .gform_wrapper .gfield label {
  width: auto;
  margin-right: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course-sidebar > ul > li .gform_wrapper .gfield label {
    clear: both;
    float: none;
    margin-bottom: 15px;
  }
}
.course-sidebar > ul > li .gform_wrapper .gfield:after {
  display: table;
  content: "/";
  text-indent: -9999px;
}
.course-sidebar > ul > li .gform_wrapper .gfield.swap label {
  float: right;
  width: 80%;
}
.course-sidebar > ul > li .gform_wrapper .gfield.swap .ginput_container label {
  display: none;
}
.course-sidebar > ul > li .gform_wrapper .gfield.swap .ginput_container input {
  float: left;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .course-sidebar > ul > li .gform_wrapper .gfield.swap {
    min-height: 100px;
  }
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container label {
  width: 80%;
  float: none;
  z-index: 11;
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container span.glyphicon-chevron-up {
  display: none;
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container.active {
  background: #998b7d;
  margin-top: -14px;
  padding-top: 14px;
  padding-bottom: 0;
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container.active span {
  top: 14px;
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container.active span.glyphicon-chevron-up {
  display: block;
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container.active span.glyphicon-chevron-down {
  display: none;
}
.course-sidebar > ul > li .gform_wrapper .gfield.dropdown-container.active label {
  margin-left: 10px;
}
.course-sidebar > ul > li .gform_wrapper .gfield .glyphicon {
  position: absolute;
  right: 0;
}
.course-sidebar > ul > li .gform_wrapper .gfield .gf-dropdown {
  margin-top: 20px!important;
  padding: 0;
  display: none;
}
.course-sidebar > ul > li .gform_wrapper .gfield .gf-dropdown > li {
  width: 100%;
  padding: 10px;
  margin: 0;
}
.course-sidebar > ul > li .gform_wrapper .gfield .gf-dropdown > li:hover {
  background: #ece7e1;
}
.course-sidebar > ul > li .gform_wrapper .gform_footer {
  position: relative;
}
.course-sidebar > ul > li .gform_wrapper .gform_footer span {
  position: absolute;
  right: 0;
  top: 20px;
  color: #232f84;
}
/* controls faq sidebar */
.faq-sidebar ul li {
  margin-bottom: 40px;
}
/* controls to search results page */
.search-results {
  margin-top: 20px;
}
.search-results .search-form {
  margin-top: 25px;
}
/* social links */
.social-links li a {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 22px;
  background: url("../img/sprite.png") 0 0;
  text-indent: -9999px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.social-links li a.twitter {
  background-position: 0 0;
}
.social-links li a.twitter:hover {
  background-position: 0 -20px;
}
.social-links li a.youtube {
  background-position: -20px 0;
}
.social-links li a.youtube:hover {
  background-position: -20px -20px;
}
.social-links li a.linkdin {
  background-position: -40px 0;
}
.social-links li a.linkdin:hover {
  background-position: -40px -20px;
}
/* page tabs */
.tabs-wrapper {
  border-bottom: solid 1px #f4f4f4;
  margin-top: -20px;
}
.tabs-wrapper .tabs {
  border-right: solid 1px #f4f4f4;
  padding-top: 40px;
  min-height: 200px;
  margin-bottom: 0;
  padding-bottom: 40px;
}
.tabs-wrapper .tabs li {
  border-bottom: solid 1px #f4f4f4;
}
.tabs-wrapper .tabs li a {
  display: block;
  padding: 20px;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs-wrapper .tabs li a:hover {
  text-decoration: none;
  color: #ffffff;
}
.tabs-wrapper .tabs li.active a {
  border-right: solid 5px #ffffff;
  font-weight: bold;
}
.tabs-wrapper .tab-contents-wrapper .tab-content {
  padding: 20px 0;
  min-height: 200px;
}
.tabs-wrapper .tab-contents-wrapper .tab-content p {
  font-size: 14px;
}
.tabs-wrapper .tab-contents-wrapper .tab-content ul {
  margin-bottom: 15px;
}
.tabs-wrapper .tab-contents-wrapper .tab-content ul li {
  list-style: disc;
  font-size: 14px;
}
.tabs-wrapper .tab-contents-wrapper .bx-prev {
  left: -60px;
  top: 40px;
}
@media only screen and (max-width: 767px) {
  .tabs-wrapper .tab-contents-wrapper .bx-prev {
    left: -37px;
  }
}
.tabs-wrapper .tab-contents-wrapper .bx-next {
  right: -60px;
  top: 40px;
}
@media only screen and (max-width: 767px) {
  .tabs-wrapper .tab-contents-wrapper .bx-next {
    right: -37px;
  }
}
/* footer stuff */
footer {
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  footer {
    padding-bottom: 89px;
  }
}
footer .social-links {
  margin-bottom: 40px;
}
footer .social-links li a {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/sprite.png") 0 0;
  text-indent: -9999px;
}
footer .social-links li a.twitter {
  background-position: 0 -40px;
}
footer .social-links li a.twitter:hover {
  background-position: 0 -40px;
}
footer .social-links li a.youtube {
  background-position: -30px -40px;
}
footer .social-links li a.youtube:hover {
  background-position: -30px -40px;
}
footer .social-links li a.linkdin {
  background-position: -60px -53px;
}
footer .social-links li a.linkdin:hover {
  background-position: -60px -53px;
}
footer .footer-logo {
  display: block;
  width: 267px;
  height: 89px;
  background: url("../img/sprite.png") -297px 0;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 767px) {
  footer .footer-logo {
    position: relative;
    float: right;
  }
}
footer .footer-nav > ul > li {
  margin-bottom: 12px;
}
/* color themes and backgrounds */
body .entry {
  margin: 20px 0;
}
body .entry.blue a {
  color: #0767a7 !important;
}
body .entry.green a {
  color: #4aaa42 !important;
}
body .entry.orange a {
  color: #f67b00 !important;
}
body .entry h1,
body .entry h2,
body .entry h3,
body .entry h4,
body .entry h5,
body .entry p,
body .entry li,
body .entry blockquote {
  color: #272727;
  margin-top: 0;
  margin-bottom: 20px;
}
body .entry h1 a,
body .entry h2 a,
body .entry h3 a,
body .entry h4 a,
body .entry h5 a,
body .entry p a,
body .entry li a,
body .entry blockquote a {
  color: #272727;
}
body .entry p,
body .entry li {
  font-size: 15px;
  line-height: 20px;
}
@darker _grey;
body .entry hr {
  border-top: dotted 1px #c4c0bd;
}
body .entry .alert-info {
  background-color: #f67b00;
  border: none;
}
body .entry .alert-info h1,
body .entry .alert-info h2,
body .entry .alert-info h3,
body .entry .alert-info h4,
body .entry .alert-info h5,
body .entry .alert-info p,
body .entry .alert-info li,
body .entry .alert-info blockquote {
  color: #ffffff;
}
body .entry .bx-prev {
  left: -60px;
  top: 40px;
}
@media only screen and (max-width: 767px) {
  body .entry .bx-prev {
    left: -37px;
  }
}
body .entry .bx-next {
  right: -60px;
  top: 40px;
}
@media only screen and (max-width: 767px) {
  body .entry .bx-next {
    right: -37px;
  }
}
body .entry .tablepress thead th {
  background: #0097CF;
  color: #ffffff;
  padding: 20px;
}
body .entry .tablepress.orange thead th {
  background: #f67b00 !important;
}
body .entry .tablepress.blue thead th {
  background: #0767a7 !important;
}
body .entry .tablepress.green thead th {
  background: #49b23c !important;
}
body .entry .tablepress tbody td {
  border-top: none;
  padding: 10px 20px;
  color: #272727;
}
body .entry .tablepress tbody .odd td {
  background-color: #f4f4f4;
}
body .entry .aligncenter {
  margin: 10px auto;
  clear: both;
}
body .entry img {
  display: block;
}
body .entry .alignleft {
  margin: 10px 10px 10px 0;
  float: left;
}
body .entry .alignright {
  margin: 10px 0 10px 10px;
  float: right;
}
body .entry .nav-tabs {
  border-bottom: none;
  width: 20%;
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body .entry .nav-tabs {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  body .entry .nav-tabs {
    width: 100%;
    float: none;
  }
}
body .entry .nav-tabs li {
  margin-bottom: 10px;
  width: 100%;
}
body .entry .nav-tabs li a {
  border-radius: 0;
  border: solid 1px #c4c0bd;
  color: #c4c0bd;
}
body .entry .nav-tabs li.active a {
  border: solid 1px #0767a7;
  background-color: #0767a7;
  color: #ffffff;
}
body .entry .tab-content {
  width: 70%;
  float: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body .entry .tab-content {
    width: 100%;
    float: none;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  body .entry .tab-content {
    width: 100%;
    float: none;
    padding-top: 10px;
  }
}
body .entry .panel-group .panel {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  margin-top: 0;
  overflow: visible;
}
body .entry .panel-group .panel.panel-default .panel-heading {
  border-bottom: 0;
  background: #e8e8e8;
  border-radius: 0;
  border-top: solid 2px #c4c0bd;
  position: relative;
}
body .entry .panel-group .panel.panel-default .panel-heading .tab-c {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background: #0767a7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 9999;
}
body .entry .panel-group .panel.panel-default .panel-heading .tab-c.left {
  left: -5px;
}
body .entry .panel-group .panel.panel-default .panel-heading .tab-c.right {
  right: -5px;
}
body .entry .panel-group .panel.panel-default .panel-heading .tab-c.top {
  top: -6px;
  display: block;
}
body .entry .panel-group .panel.panel-default .panel-heading .tab-c.bottom {
  bottom: -6px;
  display: none;
}
body .entry .panel-group .panel.panel-default .panel-heading h4 {
  margin: 10px 0;
  text-align: center;
}
body .entry .panel-group .panel.panel-default .panel-heading h4 a {
  color: #272727;
}
body .entry .panel-group .panel.panel-default .panel-heading h4 a:hover {
  text-decoration: none;
}
body .entry .panel-group .panel.panel-default .panel-heading .glyphicon {
  text-align: center;
  display: block;
  color: #0767a7;
}
body .entry .panel-group .panel.panel-default.active .panel-heading {
  background: none;
  border: none;
}
body .entry .panel-group .panel.panel-default.active .panel-heading .tab-c.top {
  display: none;
}
body .entry .panel-group .panel.panel-default.active .panel-heading .tab-c.bottom {
  display: block;
}
body .entry .panel-group .panel.panel-default.active .panel-heading h4 a {
  color: #0767a7;
}
body .entry .panel-group .panel.panel-default.active .panel-heading .glyphicon {
  display: none;
}
body .entry .panel-group .panel-collapse .panel-body {
  border-top: solid 2px #c4c0bd;
}
body .entry .dark h1,
body .entry .dark h2,
body .entry .dark h3,
body .entry .dark h4,
body .entry .dark h5,
body .entry .dark p,
body .entry .dark li,
body .entry .dark blockquote {
  color: #232f84;
}
body .entry .dark h1 a,
body .entry .dark h2 a,
body .entry .dark h3 a,
body .entry .dark h4 a,
body .entry .dark h5 a,
body .entry .dark p a,
body .entry .dark li a,
body .entry .dark blockquote a {
  color: #232f84;
}
body .entry .light h1,
body .entry .light h2,
body .entry .light h3,
body .entry .light h4,
body .entry .light h5,
body .entry .light p,
body .entry .light li,
body .entry .light blockquote {
  color: #998d81;
}
body .entry .light h1 a,
body .entry .light h2 a,
body .entry .light h3 a,
body .entry .light h4 a,
body .entry .light h5 a,
body .entry .light p a,
body .entry .light li a,
body .entry .light blockquote a {
  color: #998d81;
}
body .entry .btn {
  text-align: left;
  padding: 0;
  border-radius: 0;
  position: relative;
}
body .entry .btn.btn-default {
  color: #232f84;
  background: none;
  border: none;
  border-bottom: solid 1px #232f84;
  padding-bottom: 15px;
  font-weight: bold;
  display: block;
  padding-right: 20%;
  width: 100%;
  white-space: pre-wrap;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .entry .btn.btn-default:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "/";
  text-indent: -9999px;
  height: 19px;
  width: 12px;
  background: url("../img/sprite.png") -596px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .entry .btn.btn-default.enrol-link {
  border-bottom: none;
  width: auto;
  font-weight: normal;
}
body .entry .btn.btn-default.enrol-link:after {
  position: relative;
  float: right;
  right: -40px;
  width: 6px;
  height: 8px;
  background: url("../img/sprite.png") -611px 0;
  top: 7px;
}
body .entry .btn.btn-default.enrol-link:hover {
  border-bottom: none;
}
body .entry .btn.btn-default.enrol-link:hover:after {
  right: -50px;
}
body .entry .btn.btn-default.no-chevron:after {
  content: none;
  background: none;
}
body .entry .btn.btn-default:hover {
  border-bottom: solid 1px #f4f4f4;
}
body .entry .btn.btn-default:hover:after {
  right: -12px;
}
body .entry .light .btn.btn-default {
  color: #998d81;
  border-bottom-color: #998d81;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .entry .light .btn.btn-default:after {
  background-position: -627px 0;
}
body .entry .light .btn.btn-default:hover {
  border-bottom: solid 1px #f4f4f4;
}
body .entry .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio li input[type=radio] {
  margin-left: 2px;
}
body .headline-wrapper.entry .btn.btn-default {
  text-transform: uppercase;
  color: #272727;
  border-bottom-color: #272727;
  font-size: 16px;
}
body .headline-wrapper.entry .btn.btn-default:after {
  background-position: -641px 0;
}
body footer {
  background: url(../img/bg-default.png) 0 -100px;
}
@media only screen and (min-width: 1200px) {
  body footer {
    background-size: 100%;
  }
}
body footer a,
body footer p,
body footer li {
  color: #ffffff;
  font-size: 12px;
}
body footer a.footer-statement,
body footer p.footer-statement,
body footer li.footer-statement {
  font-size: 18px;
  font-weight: bold;
}
body footer a:hover,
body footer p:hover,
body footer li:hover {
  text-decoration: none;
  color: #ffffff;
}
body.orange .page-caption-wrapper {
  background-position-y: -460px;
}
body.orange .entry h1 {
  color: #f67b00;
}
body.orange .entry h1 a {
  color: #f67b00;
}
body.orange .entry a {
  color: #f67b00;
}
body.orange .entry .tablepress thead tr th {
  background: #f67b00;
}
body.orange footer {
  background: url(../img/bg-orange.png) 0 -100px;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body.orange footer {
    background-size: auto;
  }
}
@media only screen and (max-width: 767px) {
  body.orange footer {
    background-size: auto;
  }
}
body.blue .page-caption-wrapper {
  background-position-y: 0;
}
body.blue .entry a {
  color: #0767a7;
}
body.blue .entry .tablepress thead tr th {
  background: #0767a7;
}
body.blue footer {
  background: url(../img/bg-blue.png) 0 -100px;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body.blue footer {
    background-size: auto;
  }
}
@media only screen and (max-width: 767px) {
  body.blue footer {
    background-size: auto;
  }
}
body.green .page-caption-wrapper {
  background-position-y: -230px;
}
body.green .entry .tablepress thead tr th {
  background: #49b23c;
}
body.green footer {
  background: url(../img/bg-green.png) 0 -100px;
  background-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body.green footer {
    background-size: auto;
  }
}
@media only screen and (max-width: 767px) {
  body.green footer {
    background-size: auto;
  }
}
body.green .course-table-wrapper hr {
  border-bottom: solid 1px #49b23c;
}
body.green h5 a {
  color: #4aaa42 !important;
  font-weight: bold;
}
body .course .entry h1 {
  color: #49b23c;
}
