.meta-wrapper {
	margin: 0 0 20px;
	padding: 0 0 20px;
}

.meta-sortable-button:hover {
	cursor: move;
}

.meta-editor-wrapper-bg {
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	z-index: 99998;
	left: 0;
	top: 0;
}

.meta-editor-wrapper {
	display: none;
	width: 70%;
	left: 50%;
	margin-left: -35%;
	top: 40px;
	position: fixed;
	z-index: 99999;
}

.meta-text {
	width: 100%!important;
}

.meta-repeatable-wrapper .meta-text,
.meta-repeatable-wrapper .meta-textarea {
	width: 70%!important;
	margin-right: 10px;
}

.meta-textarea {
	width: 100%!important;
	min-height: 200px;
}

.meta-colorpicker-color {
	display: block;
	width: 190px;
	height: 27px;
	background: black;
	margin-top: 10px;
	display: none;
}

.meta-select {
	width: 100%;
}

.meta-radio,
.meta-checkbox {
	width: auto!important;
}

.meta-upload {
	width: 70%!important;
	margin-right: 10px;
}

.meta-upload-button,
.meta-remove-button,
.meta-insert-content {
	margin-right: 10px!important;
	max-width: 100px;
}

.meta-title {
	margin: 0 0 10px!important;
}

.meta-description {
	padding: 10px 0 10px;
	display: block;
}

.meta-repeatable-wrapper {
	margin-bottom: 20px;
}

.meta-datepicker {
	width: 188px;
}

.ui-datepicker {
	background: #f7f7f7;
	border: solid 1px #ccc;
	padding: 20px;
	width: 148px;
	display: none;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker a:hover {
	cursor: pointer;
}

.colorpicker input {
	height: auto!important;
}